<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Term info</h4>
      <dl>
        <dt>Term</dt>
        <dd><%= @term['results'] %></dd>        
      </dl>
    </div>
  </div>
</div>