<div class="term-container">
  
      <div class="term-text"><%= @word %> </div>     
      <h4> definition: </h4> 
      <dl>
        <dt></dt>
        <dd class="term-word"><%= @term %></dd>        
      </dl>
   
</div>